<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="group4.backend.mapper.IssueMapper">

    <sql id="issueQueryCondition">
        <if test="query != null and query != ''">
            (
            title like concat('%', #{query}, '%')
            or brief like concat('%', #{query}, '%')
            or description like concat('%', #{query}, '%')
            or location like concat('%', #{query}, '%')
            or status like concat('%', #{query}, '%')
            )
        </if>
    </sql>

    <select id="countByQuery" resultType="java.lang.Long">
        select count(*)
        from issue
        <where>
            <include refid="issueQueryCondition"/>
        </where>
    </select>

    <select id="selectPageByQuery" resultType="group4.backend.entity.Issue">
        select *
        from issue
        <where>
            <include refid="issueQueryCondition"/>
        </where>
        order by create_time desc, id desc
        limit #{offset}, #{pageSize}
    </select>


    <update id="update" parameterType="group4.backend.entity.Issue">

            update issue
            <set>
                <if test="title != null and title != ''">
                    title = #{title},
                </if>
                <if test="description != null and description != ''">
                    description = #{description},
                </if>
                <if test="brief != null and brief != ''">
                    brief = #{brief},
                </if>
                <if test="location != null and location != ''">
                    location = #{location},
                </if>
                <if test="witnessInfo != null and witnessInfo != ''">
                    witnessInfo = #{witnessInfo},
                </if>
                <if test="happenTime != null">
                    happen_time = #{happenTime},
                </if>

                update_time = #{updateTime}
            </set>
            where id = #{id}


    </update>

</mapper>
