spring:
  datasource:
    username: root
    password: 123456
#    replace to your own database
    url: jdbc:mysql://localhost:3306/whs_mobile_reporting?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: 127.0.0.1
      port: 6379
    

server:
  port: 8000

minio:
  endpoint: http://localhost:9000
  access-key: admin
  secret-key: 12345678
  bucket: whs

